<!doctype html>
<html>
  <head>
    <title>Nobody here but us chickens! </title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="<%= stylesheet_path "application-error" %>">
  </head>
  <body>
    <img src="<%= image_path "404.jpg" %>" alt="404 Not Found">
    <h1>Sorry, the page you are trying to access does not exist.</h1>
    <h3>You may have mistyped the address, or the page may have been deleted.</h3>
    <p><a href="/">Return to index</a></p>
  </body>
</html>
